<ul>
<% @patient.appointments.each do |appt| %>
    <%= link_to appt.doctor do %>
        <li><%= appt.doctor.name %> - <%= appt.appointment_datetime.strftime('%B %d, %Y at %H:%M') %></li>
    <% end %>
<% end %>
</ul>