<h1>Doctor: <%= @doctor.name %></h1>

<h3>Appointments</h3>

<% @doctor.appointments.each do |appointment| %>
    Time: <%= appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %><br>
    Patient: <%= link_to appointment.patient.name, patient_path(appointment.patient) %><br>
    <br>
<% end %>