<p>Appointment Time: <%= @appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M") %></p>
<p>Doctor: <%= link_to @appointment.doctor_name, doctor_path(@appointment.doctor) %></p>
<p>Patient: <%= link_to @appointment.patient_name, patient_path(@appointment.patient) %></p>
